# Подключение к Console API (обязательные)
ELEMENT_BASE_URL=https://1cmycloud.com
ELEMENT_CLIENT_ID=
ELEMENT_CLIENT_SECRET=

# Значения по умолчанию (необязательные)
ELEMENT_APP_ID=
ELEMENT_PROJECT_ID=
ELEMENT_SPACE_ID=
